<footer class="bg-white dark:bg-gray-900 text-gray-700 dark:text-gray-300 py-4 mt-4">
  <div class="container mx-auto text-center">
    <span class="block text-sm mb-2">
      Have a nice watching! &copy; <%= new Date().getFullYear() %>
    </span>
    <div class="flex justify-center space-x-4">
      <a href="https://www.facebook.com" class="text-gray-500 hover:text-blue-600">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M22.675 0h-21.35C.6 0 0 .6 0 1.325v21.351C0 23.4.6 24 1.325 24H12.81v-9.294H9.692V11.04h3.118V8.406c0-3.1 1.893-4.785 4.659-4.785 1.325 0 2.464.099 2.795.143v3.24h-1.916c-1.504 0-1.794.714-1.794 1.76v2.31h3.589l-.467 3.667h-3.122V24h6.116c.725 0 1.325-.6 1.325-1.325V1.325C24 .6 23.4 0 22.675 0z" />
        </svg>
      </a>
      <a href="https://www.github.com" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 .297C5.37.297 0 5.667 0 12.297c0 5.302 3.438 9.8 8.205 11.387.6.111.82-.261.82-.577v-2.047c-3.338.727-4.042-1.416-4.042-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.082-.73.082-.73 1.205.086 1.837 1.236 1.837 1.236 1.07 1.834 2.809 1.304 3.495.997.108-.774.418-1.305.76-1.605-2.665-.303-5.466-1.332-5.466-5.93 0-1.31.47-2.381 1.236-3.222-.123-.302-.535-1.521.117-3.176 0 0 1.008-.322 3.3 1.23a11.521 11.521 0 013.005-.404c1.02.005 2.045.137 3.005.404 2.29-1.552 3.297-1.23 3.297-1.23.654 1.655.242 2.874.118 3.176.77.841 1.237 1.912 1.237 3.222 0 4.61-2.805 5.624-5.475 5.921.43.372.815 1.1.815 2.22v3.293c0 .32.215.694.825.576C20.565 22.094 24 17.6 24 12.297 24 5.667 18.63.297 12 .297z" />
        </svg>
      </a>
      <a href="https://www.linkedin.com" class="text-gray-500 hover:text-pink-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
          <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
        </svg>
      </a>
    </div>
  </div>
</footer>

<script src="/input_validation.js"></script>
<script src="/delete_confirm.js"></script>
<script type="module" src="/search.js"></script>
</body>

</html>